[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
Flask-RESTful = "*"
zappa = "*"
requests = "*"
pymongo = "*"

[dev-packages]
awscli = "*"
botocore = "==1.5.40"
